body{
    background-color:aqua;
}
.card-text{

    font-weight:800;
    color: rgb(245, 200, 0);
     background-image: linear-gradient(rgb(99, 99, 99), rgb(58, 58, 58));
      text-align: center;
}
.card-title{
    font-weight:900;
}
 .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }